<div fxLayout="column" fxLayoutAlign="center">
  <div fxLayout fxLayoutAlign="center center">
    <mat-card-subtitle>
      {{name}}
      <button *ngIf="videoUrl" (click)="resetFile()" mat-icon-button color="accent"><mat-icon>cancel</mat-icon></button>
    </mat-card-subtitle>
  </div>
  <div *ngIf="!videoUrl">
    <div class="drag-and-drop-field"
         ngFileDrop
         [options]="options"
         (uploadOutput)="onUploadOutput($event)"
         (click)="imgFileInput.click()"
         [uploadInput]="uploadInput"
         [ngClass]="{ 'is-drop-over': dragOver }">
      Drag &amp; Drop into here
    </div>
    <input hidden type="file" (change)="handleFileInput($event.target.files)" #imgFileInput multiple/>
  </div>


  <video *ngIf="videoUrl" width="320" height="240" controls preload="none">
    <source [src]="videoUrl" type="video/mp4">
    Your browser does not support the video tag.
  </video>

</div>

