
.drag-and-drop-field {
  margin: 0 0;
  height: 100px;
  width: 100%;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #555555;
  border-radius: 2px;
  cursor: pointer;
  background-image: url("https://academyofphysicalmedicine.co.uk/wp-content/uploads/2014/05/video-placeholder.gif");
  background-size: cover;
  background-position: center;


}

