<mat-card fxLayout="column" fxLayoutAlign ="center center">

    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <img *ngFor="let image of images" [src]="image"/>


        <button type="button" mat-button (click)="imgFileInput.click()">
          <div class="add-button" fxLayout fxLayoutAlign="center center">
          <fa-icon [icon]="faPlusCircle" size="lg"></fa-icon>
          </div>
      </button>
      <input hidden type="file" (change)="handleFileInput($event.target.files)" #imgFileInput multiple />
      </div>

</mat-card>
