<div fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="column" fxlayoutAlign="center center" >
    <div fxLayout="row wrap" fxLayoutAlign="center center" cdkDropList (cdkDropListDropped)="drop($event)">
    <div cdkDrag *ngFor="let image of images" (cdkDragEnded)="onDragEnd(image)"  >
      <img [src]='image.preview'/>
    </div>
  </div>

    <div class="drag-and-drop-field"
        ngFileDrop
        (uploadOutput)="onUploadOutput($event)"
        (click)="imgFileInput.click()"
        >
      Drag &amp; Drop into here
    </div>


    <input hidden type="file" (change)="handleFileInput($event.target.files)" #imgFileInput multiple/>
  </div>
</div>
