<form [formGroup]="poiForm" class="container">

  <div fxLayout
       fxFlex.xl="80%"
       fxFlex.lg="80%"
       fxFlex.md="90%"
       fxFlex.sm="100%"
       fxFlex.xs="100%"
       class="poi-edit-page">
    <mat-card>
      <div
        fxLayout
        fxLayoutGap="20px"
        fxLayoutAlign="space-around"
        class="general-info-container"
      >
        <div
          fxLayout="column"
          fxFlex="1 1"
          fxLayoutAlign="center stretch"
          class="general-data"
        >
          <mat-form-field>
            <mat-select placeholder="Type">
              <mat-option *ngFor="let type of poiTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Name"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Beacon-ID"/>
          </mat-form-field>

          <div fxLayout
               fxLayoutGap="10px"
               fxLayoutAlign="space-around">
            <mat-form-field>
              <input matInput type="number" placeholder="Latitude"/>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="Longitude"/>
            </mat-form-field>
          </div>

        </div>

        <div fxFlex="1 1" class="map-container">
          <app-poi-map></app-poi-map>
        </div>
      </div>

      <div fxLayout
           fxLayoutGap="10px"
           fxLayoutAlign="space-around"
           class="media-section">
        <app-media-section title="Icon">
          <app-img-preview name="Default" class="img-preview"></app-img-preview>
          <app-img-preview name="Explored" class="img-preview"></app-img-preview>
        </app-media-section>

        <app-media-section title="Image">
          <app-img-preview name="Preview" class="img-preview"></app-img-preview>
        </app-media-section>

        <app-media-section title="Video">
          <app-img-preview name="AR-Szene" class="img-preview"></app-img-preview>
          <app-img-preview name="Icon-Szene" class="img-preview"></app-img-preview>
        </app-media-section>
      </div>

      <app-media-section title="Vuforia">
        <app-img-preview-multiple></app-img-preview-multiple>
      </app-media-section>

      <app-poi-content></app-poi-content>

      <button type="submit" mat-flat-button color="primary">Submit</button>
      <button type="button" mat-flat-button color="accent">Clear</button>

    </mat-card>
  </div>
</form>
