<form [formGroup]="poiForm" (ngSubmit)="onSubmit()" class="container">
  <div
    fxLayout
    fxLayoutGap="20px"
    fxLayoutAlign="space-around"
    class="general-info-container"
  >
    <div
      fxLayout="column"
      fxFlex="1 1"
      fxLayoutAlign="center stretch"
      class="general-data"
    >
      <mat-card>
        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Name" />
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-form-field>
          <input matInput type="number" formControlName="beaconId" placeholder="Beacon-ID" />
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-form-field>
          <mat-select formControlName="type" placeholder="type">
            <mat-option *ngFor="let type of poiTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>

    <div fxFlex="1 1" class="map-container">
      <app-poi-map></app-poi-map>

      <mat-card fxLayout formGroupName="coordinates">
        <mat-form-field>
          <input matInput type="number" formControlName="lat" placeholder="Lattitude" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" formControlName="long" placeholder="Longitude" />
        </mat-form-field>
      </mat-card>
    </div>
  </div>

  <div formGroupName="media">
  <app-media-section title="Icon">
    <app-img-preview [fileControl]="iconForm.controls.default" name="Default"></app-img-preview>
    <app-img-preview [fileControl]="iconForm.controls.explored" name="Explored"></app-img-preview>
  </app-media-section>

  <app-media-section title="Image">
    <app-img-preview [fileControl]="imgForm.controls.preview" name="Preview"></app-img-preview>
  </app-media-section>

  <app-media-section title="Video" formGroupName="video">
    <app-video-preview [fileControl]="videoForm.controls.arScene" name="AR-Szene"></app-video-preview>
    <app-video-preview [fileControl]="videoForm.controls.iconScene" name="Icon-Szene"></app-video-preview>
  </app-media-section>

  <app-media-section title="Vuforia">
    <app-img-preview-multiple [fileArray]="vuforiaArray"></app-img-preview-multiple>
  </app-media-section>
</div>

  <mat-divider></mat-divider>

  <app-poi-content></app-poi-content>

  <button type="submit" mat-flat-button color="primary" [disabled]="poiForm.invalid">Submit</button>
  <button type="button" mat-flat-button color="accent">Clear</button>
</form>
