
mat-card {
  margin-bottom: 20px;
  border-radius: 0;
}

mat-card, mat-form-field, input {
  width: 100%;
}

mat-form-field * {
  width: 100%;
}

.container {
  margin: 20px;
}

quill-editor {
  height: 300px;
}

.media-section {
  margin: 0 0;
}

.poi-edit-page {
  margin: auto;
}

.poi-edit-form {
  width: 100%;
}

.poi-edit-buttons-bottom {
  display: flex;
  justify-content: space-between;

}

.publish-immediately-slide-toggle {
  margin: 10px 0 20px 0;
}

.select-publish-timestamp {
  height: 50px;
}

.select-publish-timestamp-flex {
  display: flex;
  width: 100%;
}

.select-publish-timestamp-form-field {
  margin: 0 10px 0 0;
}

.request-status {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 50%;
}

.poi-title {
  margin: 12px 0 0 0;
}

.mat-tab-label {
  min-width: 80px !important;
}

.poi-edit-loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}

.poi-edit-beacon-id {
  display: flex;
  align-items: center;
}

.poi-edit-beacon-id-form {
  flex: 1;
}

.poi-edit-add-beacon-btn {
  height: 36px;
  margin-left: 10px;
}
