img {
  width: 150px;
  height: 100px;
}

.drag-and-drop-field {
  height: 100px;
  width: 100%;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #555555;
  border-radius: 2px;
  cursor: pointer;
}
