
<mat-card fxLayout="column" fxLayoutAlign ="center">
    <mat-card-title fxLayoutAlign="center">{{name}}</mat-card-title>
    <button type="button" mat-flat-button color="primary" (click)="imgFileInput.click()">
        <fa-icon [icon]="faPlusCircle" size="lg"></fa-icon>

    </button>

    <div *ngIf="!imgPreviewUrl">
      <div class="drag-and-drop-field"
           ngFileDrop
           [options]="options"
           (uploadOutput)="onUploadOutput($event)"
           (click)="imgFileInput.click()"
           [uploadInput]="uploadInput"
           [ngClass]="{ 'is-drop-over': dragOver }">
        Drag &amp; Drop into here
      </div>
      <input hidden type="file" #imgFileInput/>
    </div>

    <input hidden type="file" (change)="handleFileInput($event.target.files)" #imgFileInput/>

  <img *ngIf="imgPreviewUrl" [src]="imgPreviewUrl">
</mat-card>

