#overview-table {
  max-width: 1000px;
  margin: 20px auto 20px auto;
  padding: 30px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

mat-paginator {
  background: #fafafa;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background: #f2f2f2;
}

.mat-row:hover > td > .edit-btn {
  color: dodgerblue;
}

.edit-btn {
  text-align: right;
  margin-right: 10px;
}

.mat-cell-name-content {
  display: flex;
  align-items: center;
}

.mat-cell-name-content > * {
  margin-right: 10px;
}

.above-table {
  display: flex;
  justify-content: space-between;
}

.poi-filter {
  display: flex;
  align-items: center;
}

.new-poi-btn {
  height: 45px;
}
