<div class="poi-overview-wrapper">
  <mat-tab-group>
    <mat-tab label="{{'TABLE_VIEW' | translate:name}}">
      <app-poi-overview-table [pois]="pois"
                              [loading]="loading"
                              (editPoiAction)="openEditPage($event.key, $event.type)"></app-poi-overview-table>
    </mat-tab>
    <mat-tab label="{{'MAP_VIEW' | translate:name}}">
      <app-poi-overview-map  [pois]="pois" (editPoiAction)="openEditPage($event.key, $event.type)" (deletePoiAction)="removePOI($event)"></app-poi-overview-map>
    </mat-tab>
  </mat-tab-group>
</div>




