<mat-toolbar color="primary" class="mat-elevation-z4">
  <div class="header-toolbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="toolbar-title" routerLink="poi-list"><span class="title">{{'TITLE' | translate:name}}</span></a>

    <div class="lang-select">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>
      <span class="lang-display">{{localeService.getLocale().toUpperCase()}}</span>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of langs" (click)="localeService.setLocale(lang)">{{lang.toUpperCase()}} - {{lang | translate:name}}</button>
    </mat-menu>
  </div>


</mat-toolbar>
