/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 95%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f7f7f7;
}

* {
  box-sizing: border-box;
}

