<div fxLayoutGap="10px" fxLayout fxLayoutAlign="space-between center">
  <ng-content></ng-content>
  <h2 *ngIf="!poiForm">{{type | uppercase}} - {{id}}</h2>
  <div>
  <mat-form-field>
    <input matInput #newLang type="text" placeholder="Add new language...">
  </mat-form-field>
  <button type="button" mat-icon-button color="primary" (click)="addLang(newLang.value); newLang.value=''">+</button>
  </div>
</div>
<mat-divider></mat-divider>
<form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
<mat-tab-group>
  <mat-tab *ngFor="let lang of langs" [formGroupName]="lang" [label]="lang">
    <mat-accordion  *ngIf="type === 'legends'">
      <mat-expansion-panel formGroupName="explored">
        <mat-expansion-panel-header>
          <mat-panel-title> {{t('EXPLORED')}} </mat-panel-title>
          <mat-panel-description>
            Add information that is shown when point of interest was explored.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput type="text" formControlName="heading" placeholder="Heading">
          </mat-form-field>
        <quill-editor [formControl] ="content(lang).explored.controls.url"></quill-editor>
      </mat-expansion-panel>

      <mat-expansion-panel
        formGroupName="preview"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Preview</mat-panel-title>
          <mat-panel-description>
            Create preview-text for point of view
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput type="text" formControlName="heading" placeholder="Heading">
          </mat-form-field>
        <quill-editor [formControl] ="content(lang).preview.controls.url" ></quill-editor>
      </mat-expansion-panel>

      <mat-expansion-panel
        formGroupName="puzzle"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{t('PUZZLES')}}  </mat-panel-title>
          <mat-panel-description>
            Create puzzle for point of view
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput type="text" formControlName="heading" placeholder="Heading">
          </mat-form-field>
        <div formArrayName="hints">
         <div *ngFor="let hint of hints(lang).controls; let i = index" class="hint">
          <quill-editor [formControl]="hint.controls.url" ></quill-editor>
          <mat-divider></mat-divider>
        </div>
      </div>
        <button mat-button color='primary' type="button" (click)='createHint(lang)'>Add new hint</button>

      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion *ngIf="type !== 'legends'">
      <mat-expansion-panel formGroupName="info">
        <mat-expansion-panel-header>
          <mat-panel-title> Information </mat-panel-title>
          <mat-panel-description>
            Add some general information.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput type="text" formControlName="heading" placeholder="Heading">
        </mat-form-field>
        <quill-editor (onContentChanged)="this.contentForm.markAsPristine()" [formControl] ="content(lang).info.controls.url"></quill-editor>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-tab>
</mat-tab-group>

<div *ngIf="!hasParent" class="poi-content-buttons-bottom">
    <button class="clear-btn" type="button" (click)="resetForms()" mat-button color="accent">{{t('CLEAR')}}</button>
    <button class="submit-btn" type="submit" mat-raised-button color="primary">{{t('SUBMIT')}}</button>
</div>

</form>
