.hint {
  margin-bottom: 20px;
}

.invalid {
  color: red !important;
}

mat-tab [mat-tab-label] {
  color: red;
}

.name-form-field {
  margin-top: 10px;
  margin-bottom: 30px;
}

.actions {
  margin-top: 20px;
 }

.hints-heading {
margin-top: 50px;
}

.poi-content {
  margin: 30px 0;
}
