.tag {
  padding: 3px 6px;
  border-radius: 4px;
}

.tag-orange {
  color: rgb(255, 165, 0);
  border: 1px solid rgb(255, 165, 0);
  background: rgba(255, 165, 0, 0.1);
}

.tag-blue {
  color: rgb(0, 0, 255);
  border: 1px solid rgb(0, 0, 255);
  background: rgba(0, 0, 255, 0.1);
}

.ta-green {
  color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);
  background: rgba(0, 255, 0, 0.1);
}
