<mat-form-field class="example-chip-list" fxLayout fxLayoutAlign="center">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let perm of permissions"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(perm)">
        {{perm}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New permission..."
        #permInput
        [formControl]="permCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredPerms | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
